# Project Documentation: {{ .ProjectName }}

```.ProjectSummary.Language
{{ .ProjectSummary.Content }}
```

---

This document contains the concatenated source code for all relevant files in the project.

{{ range .Files }}
---

## File: `{{ .Path }}`

```{{ .Language }}
{{ .Content }}
```
{{ end }}