# Code Review for: {{ .ProjectName }}

```{{.ProjectSummary.Language}}
{{ .ProjectSummary.Content }}
```

---

{{ range .Files }}
---
## File: `{{ .Path }}`

```{{ .Language }}
{{- range .Lines }}
{{ . }}
{{- end }}
```
{{ end }}